*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
}

.menu{
    padding: 20 px;
    color: black;
}

.borda_fieldeset{
    border-color: aquamarine;
    size: 2rem;
    margin-bottom: 3rem;
    margin-top: 0.3rem ;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 30px;
  }

  .imagem {
    max-width: 100%;
    height: auto;
  }

.rodape {
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
    width: 100%;

}

.titulo h1{
    color: #000000;
    font-size: 3.5rem;
    font-weight: 150;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.2);
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    text-align: center;
}


p{
    font-size: larger;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conteudo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.conteudo img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    opacity: 0,8;
    display: block;
    margin: 2px auto;
    
}

h2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: larger;
    color: black;
    list-style-type: square;
    margin-top: 5px;
}

ul {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

button {
    background-color: rgba(226, 245, 232, 0.5);
    border: 2px solid rgba(56, 107, 73, 0.5);
    color: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
}

.pedido{
    background-color: rgb(221, 243, 238);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}